LogIN_Project/.vs/config/applicationhost.config
LogIN_Project/.vs/LogIN_Project/v15/Server/sqlite3/storage.ide-wal
LogIN_Project/.vs/LogIN_Project/v15/Server/sqlite3/storage.ide-shm
LogIN_Project/.vs/LogIN_Project/v15/Server/sqlite3/storage.ide
LogIN_Project/.vs/LogIN_Project/v15/Server/sqlite3/db.lock
LogIN_Project/.vs/LogIN_Project/v15/.suo
